
/minecraft/fml_at.cfg
/minecraft/forge_at.cfg
/minecraft/fml_marker.cfg
/minecraft/fmlversion.properties
/minecraft/mcpmod.info

/minecraft/cpw/*
/minecraft/ibxm/*
/minecraft/net/minecraft/*
/minecraft/net/minecraftforge/*
/minecraft/paulscode/*
/minecraft/forge_logo.png
/minecraft/mcp.png
/minecraft/Start.java
/minecraft/armor/*
/minecraft/org/bouncycastle/crypto/*

!/minecraft/net/PokeGear/
!/minecraft/mcmod.info

*.bat
*.sh